@import "../../Mixins.scss";

.pedinaWrapper {
    @include flex();
    z-index: 100;
    width: 75px;
    height: 75px;
    background-color: rgb(1, 1, 1);
    border-radius: 100%;
    overflow: hidden;

    .immaginePedina {
        position: relative;
        width: 100%;
    }

    &:hover {
        box-shadow: 0 0 10px white;
    }
}

.immaginePedinasmiley {
    position: relative;
    width: 120% !important;
}

.immaginePedinadollaro {
    top: 1px;
    position: relative;
    width: 175% !important;
    left: 1px;
}

.immaginePedinapanda {
    width: 115% !important;
}

.immaginePedinafunghetto {
    width: 125% !important;
}