@import "../../Mixins.scss";

.toggleStileWrapper {
    @include flex();
    position: absolute;
    right: 10px;
    top: 10px;
}

.testoSelettoreTematrue {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 10px;
}

.testoSelettoreTemafalse {
    font-size: 20px;
    margin-right: 10px;
}

.toggleStile {
    right: 10px;
    top: 10px;
    border: 3px solid black;
    width: 52px;
    height: 32px;
    border-radius: 80px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.351);
}

#toggleStiletrue {
    background-color: rgb(111, 0, 89);
}

#toggleStilefalse {
    background-color: rgb(108, 106, 87);
}

.toggleStileButton {
    @include flex();
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid black;
}

#toggleStileButtonfalse {
    background-color: rgb(151, 150, 128);
}

#toggleStileButtontrue {
    background-color: rgb(62, 31, 64);
}

.toggleSinistra {
    margin-right: auto;
}

.toggleDestra {
    margin-left: auto;
}

.iconaDelTemaClassico {
    font-size: 28px;
    color: black;
}

.iconaDelTemaFuturistico {
    font-size: 24px;
    color:  rgb(235, 166, 196);
}

