.menuInizialeWrapper {
    z-index: 12;
}

.toggleStileWrapper {
    z-index: 11;
}

.toggleStileButton {
    z-index: 12;
}

.schermoDadiWrapper {
    z-index: 10;
}

.stileRettangoliWrapper:hover {
    z-index: 2;
}

.stileAngoliWrapper:hover {
    z-index: 2;
}

.utenteWrapper {
    z-index: 11;
}
