.schermoDadiWrapper {
    z-index: 10;
}

.stileRettangoliWrapper:hover {
    z-index: 2;
}

.stileAngoliWrapper:hover {
    z-index: 2;
}

// Da regolare
.toggleStileWrapper {
    z-index: 11;
}

.toggleStileButton {
    z-index: 12;
}