.menuInizialeWrapper {
    z-index: 12;
}

.toggleStileWrapper {
    z-index: 11;
}

.toggleStileButton {
    z-index: 12;
}

.schermoDadiWrapper {
    z-index: 10;
}

.btnStop {
    z-index: 11;
}

.stileRettangoliWrapper:hover {
    z-index: 4;
}

.consoleWrapper {
    z-index: 9
}

.pulsantieraConsole {
    z-index: 6
}

.stileAngoliWrapper:hover {
    z-index: 4;
}

.utenteWrapper {
    z-index: 2;
}
